<aside id="sidebar" class="bg-gray-100 w-full md:w-64 h-screen">
  <nav class="py-4">
    <div class="px-4 md:px-6">
      <h2 class="text-sm font-semibold text-gray-600 uppercase">Menu</h2>
      <ul class="mt-4 space-y-2">
        <li>
          <a href="/admin/dashboard" onclick="return false" class="flex items-center px-4 py-2 <%= locals.page == "dashboard" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-th-large mr-3"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/admin/products" class="flex items-center px-4 py-2 <%= locals.page == "products" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg ">
            <i class="fas fa-box mr-3"></i>
            <span>Products</span>
          </a>
        </li>
        <li>
          <a href="/admin/categories" class="flex items-center px-4 py-2 <%= locals.page == "categories" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-layer-group mr-3"></i>
            <span>Category</span>
          </a>
        </li>
        <li>
          <a href="/admin/orders" class="flex items-center px-4 py-2 <%= locals.page == "orders" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-shopping-cart mr-3"></i>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="/admin/coupons" onclick="return false"
            class="flex items-center px-4 py-2 <%= locals.page == "coupons" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-ticket-alt mr-3"></i>
            <span>Coupon</span>
          </a>
        </li>
        <li>
          <a href="/admin/banners" onclick="return false"
            class="flex items-center px-4 py-2  <%= locals.page == "banners" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %>  rounded-lg">
            <i class="fas fa-images mr-3"></i>
            <span>Banner</span>
          </a>
        </li>
        <li>
          <a href="/transactions" onclick="return false"
            class="flex items-center px-4 py-2 <%= locals.page == "transactions" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-receipt mr-3"></i>
            <span>Transaction</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="px-4 md:px-6 mt-8">
      <h2 class="text-sm font-semibold text-gray-600 uppercase">User Management</h2>
      <ul class="mt-4 space-y-2">
        <li>
          <a href="/admin/admins" onclick="return false"
            class="flex items-center px-4 py-2 <%= locals.page == "admins" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-user-shield mr-3"></i>
            <span>Manage Admins</span>
          </a>
        </li>
        <li>
          <a href="/admin/customers" class="flex items-center px-4 py-2 <%= locals.page == "customers" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-users mr-3"></i>
            <span>Customers</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="px-4 md:px-6 mt-8">
      <h2 class="text-sm font-semibold text-gray-600 uppercase">Others</h2>
      <ul class="mt-4 space-y-2">
        <li>
          <a href="/admin/settings" onclick="return false"
            class="flex items-center px-4 py-2 <%= locals.page == "settings" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-cogs mr-3"></i>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a href="/admin/help" onclick="return false"
            class="flex items-center px-4 py-2 <%= locals.page == "help" ? "bg-primary-accent text-gray-200 hover:bg-primary-hover" : "text-gray-800 hover:bg-gray-200" %> rounded-lg">
            <i class="fas fa-question-circle mr-3"></i>
            <span>Help</span>
          </a>
        </li>
        <li>
          <a href="/admin/logout" class="flex items-center px-4 py-2 text-gray-800 hover:bg-gray-200 rounded-lg">
            <i class="fas fa-sign-out-alt mr-3"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>